<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  The results are in for <%= @survey.company_name %>.<br>
</p>
<p>Please click this <%= @url %> to fill out the survey.</p>
</body>
</html>