<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Someone from <%= @survey.company_name %> has requested an
  anonymous survey in order to find out the average
  salary for <%= @survey.job_title %>.<br>
</p>
<p>
  Once you and the rest of the people who received the survey
  have filled it out, you will receive a link to view the anonymous
  results.
</p>
<p>Please click this <%= @url %> to fill out the survey.</p>
</body>
</html>