<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <% if @survey.errors.any? || (defined?(@user_errors) && @user_errors.any?) %>
        <div class="panel panel-warning alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <div class="panel-heading">
            <h3 class="panel-title">Form errors</h3>
          </div>
          <div class="panel-body">
            <% @survey.errors.full_messages.each do |msg| %>
              <h4><%= msg %></h4>
            <% end %>
            <% @user_errors.each do |msg| %>
              <h4><%= msg %></h4>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <%= bootstrap_form_tag url: {action: 'create', controller: 'surveys'}, html: {class: "horizontal-form"}, control_col: "col-md-6", inline_errors: false do |f| %>
        <%
           klass = ""
           if @survey.errors[:company_name].any?
             klass = 'has-error'
           elsif @survey.company_name
             klass = 'has-success'
           end
        %>

        <div class="<%= klass %>">
          <%= f.text_field :company_name, prepend: "Company name", hide_label: true, value: @survey.company_name %>
        </div>

        <% klass = ""
           if @survey.errors[:job_title].any?
             klass = 'has-error'
           elsif @survey.job_title
             klass = 'has-success'
           end %>

        <div class="<%= klass %>">
          <%= f.text_field :job_title, prepend: "Job title", hide_label: true, value: @survey.job_title %>
        </div>

        <% klass = ""
           if @user_errors && @user_errors.size > 0
             klass = 'has-error'
           elsif @user_errors
             klass = 'has-success'
           end %>
        <div class="<%= klass %>">
          <%= f.text_field :email_ui, prepend: "Emails", append: '', hide_label: true, help: 'Hit tab or enter to add an email to the list' %>
        </div>
        <div class="col-xs-9 col-xs-offset-1" id="current_addresses_ui">
          <%= render :partial => 'surveys/email_field', collection: @users, as: :user %>
        </div>
        <%= f.hidden_field :id, value: @survey_id %>

        <%= f.form_group do %>
          <%= f.submit "Create Survey", class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>