<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <% if @result.errors.any? %>
        <div class="panel panel-warning alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <div class="panel-heading">
            <h3 class="panel-title">Form errors</h3>
          </div>
          <div class="panel-body">
            <% @result.errors.full_messages.each do |msg| %>
              <h4><%= msg %></h4>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <%= bootstrap_form_for [@survey, @result], html: {class: "horizontal-form"} do |f| %>
        <%= f.form_group do %>
          <div class="input-group">
            <span class="input-group-addon">Company</span>
            <input class="form-control" id="company-name" type="text" value="<%= @survey.company_name %>" disabled>
          </div>
        <% end %>
        <%= f.form_group do %>
          <div class="input-group">
            <span class="input-group-addon">Job</span>
            <input class="form-control" id="job-title" type="text" value="<%= @survey.job_title %>" disabled>
          </div>
        <% end %>
        <%= f.text_field(:salary, prepend: "$", append: ".00", hide_label: true, help: "Please enter an integer only", placeholder: "Your salary") %>
        <%= f.hidden_field(:token, :value => @result.token) %>
        <%= f.form_group do %>
          <%= f.submit "Submit salary", class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>