<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <p>Your salary has been submitted.</p>

      <p>We will email you when the final results are ready to be viewed.</p>
    </div>
  </div>
</div>