<%
  if user.errors[:email].any?
    button_class = 'btn-danger'
  else
    button_class = 'btn-info'
  end
%>

<input type='hidden' class='form-control' name='emails[]' data-email="<%= user.email %>" value="<%= user.email %>">
<button type="button" class="btn <%= button_class %> email-button" data-email="<%= user.email %>"><%= user.email %></button>
