<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Sucess!</strong> The survey has been created.
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Survey information</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" id="company">Company: <strong><%= @survey.company_name %></strong></li>
            <li class="list-group-item" id="job">Job: <strong><%= @survey.job_title %></strong></li>
            <li class="list-group-item list-group-item-info">Email Addresses
              <span class="badge"><%= @survey.results.count %></span></li>
            <% @users.each do |user| %>
              <li class="list-group-item"><strong><%= user.email %></strong></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>