function loadPage() {
  $('body.surveys.create, body.welcome.index')
    .find('#email_ui')
    .parent('.input-group')
    .find('.input-group-addon')
    .last()
    .attr("class", "input-group-addon glyphicon glyphicon-plus")
    .click(take_email)
    .css('cursor', 'pointer')
    .end()
    .end()
    .end()
    .end()
    .find('#current_addresses_ui [data-email]')
    .click(remove_email)
    .end()
    .find('#email_ui')
    .keydown(function (e) {
      if (e.keyCode == 13 || e.keyCode == 9) {
        e.preventDefault()
        take_email()
        return false
      }
    })

}

//function preload(fn) {
//  $(fn); $(document).on('page:load', fn);
//}
//
//preload(loadPage);

$(loadPage);
$(document).on('page:load', loadPage); // for turbolinks

var take_email = function (evt) {
  var new_email = $('form #email_ui').val().trim()
  if (new_email.length == 0) {
    return
  }

  $('#current_addresses_ui').append(
    $('<input>').attr({
      type: 'hidden',
      class: 'form-control',
      name: 'emails[]',
      'data-email': new_email
    }).val(new_email)
  )

  $('#current_addresses_ui').append(
    $('<button></button>').attr({
      class: 'btn btn-info email-button',
      'data-email': new_email
    }).text(new_email)
      .click(remove_email)
  )

  $('form #email_ui').val('').focus()
  return false
}

var remove_email = function (evt) {
  var email = $(evt.target).text()
  $('[data-email="' + email + '"]').remove()
}
